<% title "VEDAVAAG | Users " %>
<% content_for :sub_heading do %>
    <%= sub_heading('VEDAVAAG | Users','Update User') %>
<% end %>
<%= render 'form',:heading => 'Update User' %>
<div class="link_buttons">
  <%=link_to_all(users_path)%>
</div>